/ema-john-1/ema-john-simple-client-module-68/node_modules
/ema-john-1/ema-john-simple-client-module-68/.env.local
/ema-john-1/ema-john-simple-server-module-68/node_modules
/ema-john-1/ema-john-simple-server-module-68/.env
/ema-john-2/ema-john-simple-server/node_modules
/ema-john-2/ema-john-simple-server/.env
/ema-john-2/ema-john-simple-with-pagination/node_modules
/ema-john-2/ema-john-with-firebase-auth/node_modules